body  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:beige;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin:1;
  padding:0;
  text-align: center;
}

h1{
  font-size:x-large;
  color:black;
  padding: 30px;
}
h3{
  font-size:medium;
  color:black
}

button{
  cursor:progress;
}
